<table class="meal">
    <tr>
        <th class="" rowspan="3">Food</th>
        <th class="amount" rowspan="3">weight (gram)</th>
        <th class="protein" rowspan="3">protein</th>
        <th class="carbs" colspan="2" rowspan="2">carbs</th>
        <th class="fat" colspan="4">fat</th>
        <th class="kcal" rowspan="3">calories</th>
        <th class="gi" rowspan="3">glycemic index</th>
        <th class="gl" rowspan="3">glycemic load</th>
    </tr>
    <tr>
        <th class="poli" colspan="2">poli unsaturated</th>
        <th class="mono" rowspan="2">mono unsaturated</th>
        <th class="saturated" rowspan="2">saturated</th>
    </tr>
    <tr>
        <th class="complex">complex</th>
        <th class="sugar">sugar</th>
        <th class="omega3">omega3</th>
        <th class="omega6">omega6</th>
    </tr>


    <tr my-food-row ng-repeat="x in presentedFoods | orderBy:'$index' : reverse"
        data="foodData"
        on-publish="amendMeal(foodUpdate)"
        reset-selection="{{$last}}"
        columns="['protein', 'complex', 'sugar', 'o3', 'o6', 'monoUnsaturated', 'saturated', 'calories', 'gi', 'gl']"
        on-delete="removeFoodAtIndex($index)"
        class="foodItem selectedFood">

    <tr class="summary">
        <td rowspan="2">Total</td>
        <td rowspan="2"></td>
        <td rowspan="2">{{summary.protein | proximateNutrientValue}}</td>
        <td>{{summary.complex | proximateNutrientValue}}</td>
        <td>{{summary.sugar | proximateNutrientValue}}</td>
        <td>{{summary.o3 | proximateNutrientValue}}</td>
        <td>{{summary.o6 | proximateNutrientValue}}</td>
        <td>{{summary.monoUnsaturated | proximateNutrientValue}}</td>
        <td>{{summary.saturated | proximateNutrientValue}}</td>
        <td rowspan="2">{{summary.calories | proximateNutrientValue}}</td>
        <td rowspan="2">N/A</td>
        <td rowspan="2">{{summary.gl | proximateNutrientValue}}</td>
    </tr>
    <tr class="summary">
        <td colspan="2" class="carbsSummaryValue">{{summary.carbs | proximateNutrientValue}}</td>
        <td colspan="4" class="fatSummaryValue">{{summary.fat | proximateNutrientValue}}</td>
    </tr>
</table>